.row {
  display: flex;
  margin: 0 auto 8px;
}

.button {
  font-weight: bold;
  border: 0;
  padding: 0;
  margin: 0 6px 0 0;
  height: 58px;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  color: #fff;
  background-color: #818384;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.normal {

}

.yellow {
  color: #fff;
  background-color: #b59f3b;
}

.green {
  color: #fff;
  background-color: #538d4e;
}

.gray {
  color: #fff;
  background-color: #3a3a3c;
}